$background-color: #2A2E37;

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: $background-color;
    color: white;
    font-weight: 100;
}

* {
    box-sizing: border-box;
}
